#gameDisplay {
    width: 50%;
    height: 600px;
    border: solid #000 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
    
    /* display: flex;
    justify-content: space-around;
    flex-direction: row; */
}

.lingTossPole {
    margin-top: auto;
    margin-bottom: auto;
    height: 10px;
    width: 60px;
    background-color: red;
    position: absolute;
    top: 200px;
}

/* ポールのレイアウトが画面サイズによって変動しすぎていたのでそれっぽい感じに手を入れた */

#leftLingTossPole {
    /* left: 250px; */ 
    left :30%;
}

#rightLingTossPole {
    /* left: 700px */
    left:70%;
}

#Ope{
    text-indent: 5%;
    line-height: 0.8;
}

#ad{
    text-align: center;
    padding-bottom: 3rem;
}

#Credit{
    text-align: center;
}